# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/
**/out/

# Production / build artifacts
build/
**/build/
dist/
**/dist/

# Executables
*.exe
**/*.exe

# Environment variables
.env*.local
**/.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
**/*.log

# IDE & OS files
.DS_Store
Thumbs.db
